/* about.css */

.about-container {
  background-color: #ffff;
  background-size: cover;
  background-position: center;
  padding: 10rem;
  color: #000000; /* Text color for better readability */
}

.about-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color:black;
}

.about-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color:black;
}

/* Add any other custom styles as needed */
