body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-container {
    background-color: #ffff;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between; /* Aligns items to the start and end of the container */
    border-bottom: 0.1px solid grey;
    position: sticky ;
    box-shadow: 2px;
  }
  
  .logo {
    text-align: left;
  }
  
  /* nav {
    background-color: #a89999;
  } */
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right; /* Align menu items to the right */
  }
  
  .navbar-item {
    display: inline-block; /* Display menu items in a horizontal line */
  }
  
  .navbar-link {
    display: block;
    color: #493d56;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    background-color: #eae3e3;
    color: black;
    border-radius: 20px; /* Add rounded corners on hover */
  }
  